.falling-effect-container{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
pointer-events:none;
z-index:20;
}


.falling-item{

position:absolute;
top:-50px;

animation:
falling linear forwards;

filter:
drop-shadow(0 5px 8px rgba(255,120,170,.25));

}


@keyframes falling{

0%{
transform:
translateY(-50px)
rotate(0deg);

opacity:1;
}


100%{

transform:
translateY(110vh)
rotate(360deg);

opacity:0;

}

}